In [8]:
#p28
numbers=[[10, 20, 30],[40, 50, 60]]
numbers

[[10, 20, 30], [40, 50, 60]]

In [9]:
print(numbers[0][1])
print(numbers[1][2])

20
60

In [10]:
for sub in numbers:
  for s in sub:
    print(s, end=' ')
  print()

10 20 30
40 50 60

In [15]:
data = [[10, 20], [30, 40], [50, 60], [70, 80]]

for i in range(4):
  for j in range(2):
    print('%d'%data[i][j], end=' ' )
  print()

10 20
30 40
50 60
70 80

In [23]:
dta = [[10, 20], [30, 40], [50, 60], [70, 80]]

for i in range(4) :

    print("data[%d][%d] = %d"      )

data[%d][%d] = %d
data[%d][%d] = %d
data[%d][%d] = %d
data[%d][%d] = %d

In [18]:
strings = [["원두커피", "라떼", "콜라"], ["우동", "국수", "피자", "파스타"]]

print(len(strings))
print(len(strings[0]))
print(len(strings[1]))

for i in range(len(strings)):
  for j in range(len(strings[i])):
    print('%s'%strings[i][j],end= ' ')
  print()

2
3
4
원두커피 라떼 콜라
우동 국수 피자 파스타

In [22]:
numbers = [7, 9, 15, 18, 30, -3, 7, 12, -16, -12]

sum=0
i=0
print("짝수 번째 요소 : ", end="")

while i<len(numbers):
  if (i+1)%2==0:
    sum+=numbers[i]
    print(numbers[i], end=' ')
  i+=1
print('\n합계 : ', sum )

짝수 번째 요소 : 9 18 -3 12 -12
합계 :  24

In [25]:
score = [
        [88,76,92,98],
        [65,70,58,82],
        [82,80,78,88],
        ]
total=0
totalsub=0
for stu in score:
  sum=0
  for s in stu:
    sum +=s
  subjects=len(stu)# 한 학생의 과목수
  print("총점", sum, "평균: ", sum/len(stu))
  total +=sum
  totalsub += subjects
print("전체 평균 : ", total/totalsub)

총점 354 평균:  88.5
총점 275 평균:  68.75
총점 328 평균:  82.0
전체 평균 :  79.75

In [ ]:
seats = [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0],\
         [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],\
         [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],\
         [1, 1, 1, 0, 0, 0, 0, 0, 1, 0],\
         [0, 0, 0, 0, 0, 1, 0, 0, 0, 0],\
         [0, 1, 0, 0, 0, 1, 0, 1, 0, 0],\
         [0, 0, 0, 0, 0, 0, 1, 0, 0, 0],\
         [1, 0, 1, 0, 0, 0, 0, 0, 0, 1]]
         for i in range(10):
          for j in range (10):
            if i%2==0:
              print('%3s'%'□',end='')
            else:
              print('%3s'%'■',end='')
      print()
              print('%3s'%'□',end='')
print('|n※ 예약 가능:  ■, 예약 불가 : ')

In [30]:
scores = [[96, 84, 80], [96, 86, 76], [76, 95, 83], [89, 96, 69], [83, 90, 83], [85, 90, 83]]
i = 0
while i < len(scores):
  sum=0
  j=0
  while j<len(scores[i]):
    sum += scores[i][j]
    j+=1
  avg=sum/len(scores[i])
  print('%d번째 학생의 합계 : %d, 평균: %.2f'%(i+1, sum, avg))
  i+=1

1번째 학생의 합계 : 260, 평균: 86.67
2번째 학생의 합계 : 258, 평균: 86.00
3번째 학생의 합계 : 254, 평균: 84.67
4번째 학생의 합계 : 254, 평균: 84.67
5번째 학생의 합계 : 256, 평균: 85.33
6번째 학생의 합계 : 258, 평균: 86.00

In [33]:
scores = [[96, 84, 80], [96, 86, 76], [76, 95, 83], [89, 96, 69], [83, 90, 83], [85, 90, 83]]

for i in range(len(scores)):
  sum=0
  for j in range(len(scores[i])):
    sum += scores[i][j]
  avg=sum/len(scores[i])
  print('%d번째 학생의 합계 : %d, 평균: %.2f'%(i+1, sum, avg))

1번째 학생의 합계 : 260, 평균: 86.67
2번째 학생의 합계 : 258, 평균: 86.00
3번째 학생의 합계 : 254, 평균: 84.67
4번째 학생의 합계 : 254, 평균: 84.67
5번째 학생의 합계 : 256, 평균: 85.33
6번째 학생의 합계 : 258, 평균: 86.00

리스트 컴프리헨션

In [37]:
#[2 * n for n in range(1.11)]

In [38]:
even1 = [i for i in range(100) if i%2==0]
even2 = [i*2 for i in range(1, 51)]
even3 = [i for i in range(0, 100, 2)]
print(even1)
print(even2)
print(even3)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [42]:
li = []
for n in range(1, 10):
    if n%3 ==0:
        li.append(n*n)
print(li)

[9, 36, 81]

In [44]:
numbers = [1,2,3,4,5]
result = []
for n in numbers:
  if n% 2 == 1:
    result.append(n*2)
print(result)

[2, 6, 10]

In [51]:
v = [17, 92, 18, 33, 58, 7, 33, 42]

max = v[0]

for i in range(len(v)):
  if v[i]> max:
    max=v[i]
print('최대값 =' ,max)

최대값 = 92

In [52]:
for i in [1, 2, 3]:
  for j in ['a', 'b', 'c']:
    print(i*j, end=' ')

a b c aa bb cc aaa bbb ccc

In [53]:
list_a = ["I", "study", "python", "language", "!"]

for i in list_a:
  if len(i)>3:
    print(i)

study
python
language