In [ ]:
#1번
a=0
while a < 3:
  print("안녕하세요")
  a+=1

안녕하세요
안녕하세요
안녕하세요

In [ ]:
#/2번
a=0
b=1
while a < 3:
  print(b,"번 학생의 성적을 처리한다")
  a+=1
  b+=1

1 번 학생의 성적을 처리한다
2 번 학생의 성적을 처리한다
3 번 학생의 성적을 처리한다

In [ ]:
#4번
a = 1
dan = int(input("원하는 단은?"))
while a < 10:
    print(dan,"*",a,'=',dan*a)
    a+=1

원하는 단은?3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [ ]:
#5번
a = 1
i = 1
b = 1
while a < 11:
  print("i의 값 :", i ,"==> 합계 :", b )
  i += 1
  b += i
  a += 1

i의 값 : 1 ==> 합계 : 1
i의 값 : 2 ==> 합계 : 3
i의 값 : 3 ==> 합계 : 6
i의 값 : 4 ==> 합계 : 10
i의 값 : 5 ==> 합계 : 15
i의 값 : 6 ==> 합계 : 21
i의 값 : 7 ==> 합계 : 28
i의 값 : 8 ==> 합계 : 36
i의 값 : 9 ==> 합계 : 45
i의 값 : 10 ==> 합계 : 55

In [ ]:
#6번
a = 150
sum = 0
while a < 300:
  if a/2 !=1:
    sum += a
    a += 1
print(sum)

33675

In [ ]:
#/7번
print('-'*15)
print('섭씨   화씨')
print('-' * 15)
c = -5
while c <6:
  f = c * 9.0 / 5.0 + 32.0
  print("%5d  %5.1f" %(c,f))
  c+=1
print('-' * 15)

---------------
섭씨   화씨
---------------
   -5   23.0
   -4   24.8
   -3   26.6
   -2   28.4
   -1   30.2
    0   32.0
    1   33.8
    2   35.6
    3   37.4
    4   39.2
    5   41.0
---------------

In [ ]:
#8번
a = 0
b = 10
sum =1
while a < 10:
  sum = int(sum*b)
  b = int(b-1)
  a+=1
print('10! = ' ,sum)

10! =  3628800

In [ ]:
#/9번
a = 1
while a<21:
  if a%2 == 0:
    print(a)
  a+=1

2
4
6
8
10
12
14
16
18
20

In [ ]:
#10번
a = 10
while a<51:
  if a%3 != 0:
    print(a)
  a+=1

10
11
13
14
16
17
19
20
22
23
25
26
28
29
31
32
34
35
37
38
40
41
43
44
46
47
49
50

In [ ]:
#11번
pw = ''
while pw != 'python':
  pw = input('암호입력 :')
print('로그인 성공')

암호입력 :java
암호입력 :c
암호입력 :python
로그인 성공

In [ ]:
#12번
import random
cnt = 0
guess = 0
answer = random.randint(1, 100)

print('1부터 100사이의 숫자를 맞추기')
while guess != answer :
  guess = int(input('숫자를 맞춰 보세요 :'))
  cnt += 1
  if guess > answer :
    print('높음')
  elif guess < answer :
    print('낮음')
print('축하합니다.', '시도횟수 =' , cnt)

1부터 100사이의 숫자를 맞추기
숫자를 맞춰 보세요 :50
낮음
숫자를 맞춰 보세요 :80
높음
숫자를 맞춰 보세요 :75
축하합니다. 시도횟수 = 3

for문

In [ ]:
#ex1
for i in(1,2,3):
  print("안녕하세요")

안녕하세요
안녕하세요
안녕하세요

In [ ]:
#ex2
for i in range(0, 10, 1):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#ex3
for i in range(1, 11, 1):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#ex4
for i in range(1, 11, 2):
  print(i)

1
3
5
7
9

In [ ]:
#ex5
for i in range(20, 0, -2):
  print(i)

20
18
16
14
12
10
8
6
4
2

In [ ]:
#ex6
for i in range(0, 3 ,1):
  print("안녕하세요")

안녕하세요
안녕하세요
안녕하세요

In [ ]:
#ex7
a = 10
for num in range(1, 5, 2):
  a += num
print(a)

14

In [ ]:
#ex8
for i in(1,2,3):
  print(i, "번째 학생의 성적 처리")

1 번째 학생의 성적 처리
2 번째 학생의 성적 처리
3 번째 학생의 성적 처리

In [ ]:
#ex9
for i in(1,21,1):
  if (i%2==0):
    print(i, end='')

In [ ]:
#ex10
a=2
for b in range(1, 10):
  c = a*b 
  print(f"{a}*{b}={c}")

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18

In [ ]:
#ex11
a=0
for i in range(1, 11, 1):
  a+=i
  print('i의값: ', i,'합계: ',a)

i의값:  1 합계:  1
i의값:  2 합계:  3
i의값:  3 합계:  6
i의값:  4 합계:  10
i의값:  5 합계:  15
i의값:  6 합계:  21
i의값:  7 합계:  28
i의값:  8 합계:  36
i의값:  9 합계:  45
i의값:  10 합계:  55

In [ ]:
#ex12
a=0
for i in range(0, 102, 2):
  a+=i
print('1~100까지의 even_sum =', a)

1~100까지의 even_sum = 2550

In [ ]:
cnt=0
for i in range(5, 101, 5):
  cnt+=1
  print(i,end = " ")
  if cnt%7==0:
    print("\n")

5 10 15 20 25 30 35

40 45 50 55 60 65 70

75 80 85 90 95 100

In [ ]:
n = int(input("정수를 입력하시오: "))
for i in range(1, n+1):
  if n%i==6:
    print(i,end = " ")

정수를 입력하시오: 6

In [2]:
#ex 16)
a = 0 
b = 1
for i in range ( 1, 21, 1):
  print(a, end = ' ')
  n = a + b
  a =  b
  b = n

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181

In [4]:
#ex 17)
for x in range(1, 41, 1):
  if(x%10==0):
    print('+', end='')
  else:
    print('-', end='')

---------+---------+---------+---------+

In [7]:
#ex 18)
x  = 1
while(x < 41):
  if(x%10==0):
     print('+', end='')
  else:
    print('-', end='')
  x+=1

---------+---------+---------+---------+

In [12]:
#ex 19)
print('-'* 40)
print("센치(cm) 인치(inch) 피트(ft) 야드(yd)")
print('-'*40)
for cm in range(10, 101, 10):
  inch = cm * 0.393701
  ft = cm * 0.032808
  yd = cm * 0.010936
  print("%7d %8.1f %8.1f %8.1f" %(cm, inch, ft, yd))
print('-'*40)

----------------------------------------
센치(cm) 인치(inch) 피트(ft) 야드(yd)
----------------------------------------
     10      3.9      0.3      0.1
     20      7.9      0.7      0.2
     30     11.8      1.0      0.3
     40     15.7      1.3      0.4
     50     19.7      1.6      0.5
     60     23.6      2.0      0.7
     70     27.6      2.3      0.8
     80     31.5      2.6      0.9
     90     35.4      3.0      1.0
    100     39.4      3.3      1.1
----------------------------------------

In [11]:
#ex 20)
for i in range(1,1001):
  print(i,end ='')
  if i == 10:
    break

12345678910

In [15]:
#ex 21)
score = [ 92, 86, 68, 120, 56, 72]

for s in score:
  if(s<0 or s>100):
    break
  print(s)
print('성적처리 끝')

92
86
68
성적처리 끝

In [20]:
#ex 21-1)
score = [ 92, 86, 68, 120, 56, 72]

for s in score:
  if(s<0 or s>100):
    continue
  print(s)
print('성적처리 끝')

92
86
68
56
72
성적처리 끝

In [24]:
#ex 22)
print( " 3 + 4 = ?")
while True:
  a = int(input("정답을 입력하시오: "))
  if(a == 7):
    break
print("참 잘했어요")

 3 + 4 = ?
정답을 입력하시오: 7
참 잘했어요

In [25]:
#ex 23)
while True:
  light = input('신호등 색상입력 : ')
  if(light == 'green'):
    break
print("길을 건너세요")

신호등 색상입력 : green
길을 건너세요

In [33]:
#ex 24)
i = 1
total = 0
while True:
  total = total + i
  if(total > 50):
    print('합이 50보다 커지는 수는 %d이고 합은 %d이다.' %(i,total))
    break
  i+=1;

합이 50보다 커지는 수는 10이고 합은 55이다.

In [36]:
#ex 25)
dan = 2
while dan < 10:
  hang = 1
  print( dan, "단")
  while hang < 10:
    print(dan,"*", hang, "=", dan *hang)
    hang += 1
  dan+=1
  print()

2 단
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 단
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 단
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 단
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 단
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 단
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 단
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 단
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [41]:
#ex 26)
for y in range(1,6):
  for x in range(1,y+1):
    print('*', end = '')
  print()

*
**
***
****
*****

In [46]:
#ex 27)
for i in range(7):
  for j in range(7):
    if (i==j) or(i+j==6):
      print('*', end = '')
    else:
      print(' ', end = '')
  print()

*     *
 *   *
  * *
   *
  * *
 *   *
*     *

In [47]:
#ex 28)
cnt = 0
n = int(input('수 입력:'))
for i in range(2, n+1):
  pn = 1
  for j in range(2,i):
    if i % j == 0:
      pn = 0
  if pn == 1:
    print('{:>5}'.format(i), sep ='', end = ' ')
    cnt += 1
    if cnt%5==0:
      print()

수 입력:50
    2     3     5     7    11
   13    17    19    23    29
   31    37    41    43    47