In [7]:
#리스트
colors =['red', 'blue', 'green']
print(colors)
print(type(colors))
print(colors[0])
print(colors[1])
print(colors[2])

['red', 'blue', 'green']
<class 'list'>
red
blue
green

In [3]:
num=range(1, 21, 2)
print(num)
print(type(num))
num=list(range(1, 21, 2))
print(num)
print(len(num))
print(type(num))

range(1, 21, 2)
<class 'range'>
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
10
<class 'list'>

In [ ]:
colors=['red','blue','green']

In [4]:
print("서울로봇고")
print(list("서울로봇고"))

서울로봇고
['서', '울', '로', '봇', '고']

In [5]:
price = [500, 5000, 8900, 1800, 2500]
print(price)
print(type(price))
fruit = ['사과', 1500, '수박', 8900]
print(fruit)
print(type(fruit))

<class 'list'>

In [9]:
a = []
b = list()
print(a)
print(b)
print(type(a))
print(type(b))

[]
[]
<class 'list'>
<class 'list'>

In [10]:
score = [ 88, 95, 70, 100,99,80,78,50]
print("학생 수는 ", len(score), "명입니다.")
print("최고점수는 ", max(score), "점입니다.")
print("최저점수는 ", min(score), "점입니다.")

학생 수는  8 명입니다.
최고점수는  100 점입니다.
최저점수는  50 점입니다.

In [13]:
score = [88, 95, 70, 100, 99]

score[0]= 10
score[1]= 20
score[2]= 30
score[3]= 40
score[4]= 50

print(score)

[10, 20, 30, 40, 50]

In [ ]:
animals = ['토끼', '거북이', '사자', '호랑이']

i = 0
while

In [14]:
num = list(range(1, 21, 2))
a = list("Korea")
print(num)
print(type(num))
print(a)
print(type(a))
print(len(num))
print(len(a))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
<class 'list'>
['K', 'o', 'r', 'e', 'a']
<class 'list'>
10
5

In [15]:
score = [ 88, 95, 70, 100, 99]
for i in range(0, 4):
  print(score[i], end = '  ')

print()
print(score[-1], end = '  ')
for i in range(-2, -5, -1):
  print(score[i], end = '  ')

88  95  70  100
99  100  70  95

In [17]:
animals = ['토끼', '거북이', '사자', '호랑이']
i = 0
while i<4:
  print(animals[i])
  i+=1

토끼
거북이
사자
호랑이

In [18]:
#ex 10
nums = [0,1,2,3,4,5,6,7,8,9]
print(nums[2: 5: 1])
print(nums[1: 6: 2])
print(nums[0: 5: 2])

[2, 3, 4]
[1, 3, 5]
[0, 2, 4]

In [19]:
#ex 11
nums = [0,1,2,3,4,5,6,7,8,9]
print(nums[: 5: 1])
print(nums[: 7: 2])
print(nums[: 5: 2])

[0, 1, 2, 3, 4]
[0, 2, 4, 6]
[0, 2, 4]

In [20]:
#ex 12
nums = [0,1,2,3,4,5,6,7,8,9]
print(nums[2 :: 1])
print(nums[1 :: 2])
print(nums[0 :: 2])

[2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[0, 2, 4, 6, 8]

In [21]:
fruits = ['사과', '오렌지', '딸기', '포도', '감', '키위', '멜론', '수박']
print(fruits[0])
print(fruits[1:4])
print(fruits[2::])
print(fruits[5])
print(fruits[4:6:1])
print(fruits[5::])

사과
['오렌지', '딸기', '포도']
['딸기', '포도', '감', '키위', '멜론', '수박']
키위
['감', '키위']
['키위', '멜론', '수박']

In [22]:
my_list = list("PythonlsFun!")
print(my_list)
print(my_list[5:-1])
print(my_list[-5:-2:1])
print(my_list[:4:])
print(my_list[-4::])

['P', 'y', 't', 'h', 'o', 'n', 'l', 's', 'F', 'u', 'n', '!']
['n', 'l', 's', 'F', 'u', 'n']
['s', 'F', 'u']
['P', 'y', 't', 'h']
['F', 'u', 'n', '!']

In [23]:
s = "python"
print(s[2])
print(s[-2])
print(s[1:4])

t
o
yth

In [25]:
file = "20210505-104830.jpg"
print("촬영 날짜 :", file[4:6:1]), "월", file[6:8:1]
print("촬영 날짜 :", file[11:13:]), "월", file[13:16:] , "일"
print("확장자 : ", file[-3::])

촬영 날짜 : 05
촬영 날짜 : 48
확장자 :  jpg

In [26]:
s = "차종: 코란도C, 제조사:쌍용, 배기량: 1998"
print (s[14:16:1])

쌍용

In [28]:
jumin = "901231-1914983"
year = jumin[0:2:1]
if jumin[7]==2:
  gender = "여자"
else:
  gender = "남자"

print("{}년생 {}입니다.".format(year, gender))

90년생 남자입니다.